ion-content(padding)
	br
	br
	h2(text-center) Seleccione una foto de prueba de recojo del paquete

	.center
		img([src]="tracking.picturePickUp || DEFAULT_IMG", (click)="takePicture()")
		button.shadow.animated.pulse.infinite(ion-button, color="wolf", (click)="start()") Iniciar Servicio
		p
			|(su posición GPS será visible en todo
			| momento por la persona que envía y
			| recibe el paquete)
