page-service {
    .span {
        font-weight: bold;
    }
    .center {
        text-align: center;
    }
    .title {
        p {
            font-size: 2rem;
        }
    }
    .details {
        padding-left: 2rem;
	}
	.phone,
	.email{
		color: color($colors, secondary);
	}
}
