// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import 'assets/scss/font.googleapis.scss';
@import 'assets/scss/animate.min.scss';

.toolbar-md {
    padding: 4px;
    min-height: 45px;
}

.toolbar-title-md,
.toolbar-title-ios,
.bar-button-default-md,
.bar-button-default-ios,
.toolbar-content-md,
.toolbar-content-ios {
	color: white;
	font-size: 1.5rem;
}

.toolbar-background-md,
.toolbar-background-ios {
    background-color: color($colors, primary);
}

p {
    font-size: 1.6rem;
}

ion-nav.menu-content.menu-content-reveal.split-pane-main {
    background: color($colors, primary);
}

.shadow {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.20), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.20);
    &:hover {
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.20);
    }
}

.footer-content {
    position: fixed;
    bottom: 30px;
    width: 100%;
}

.btn-holder {
    width: 200px;
    text-align: center;
    left: 50%;
    transform: perspective(1px) translateX(-50%);
    .button-block {
        &:first-child {
            margin-bottom: 15px;
        }
    }
}

.text-light {
    color: color($colors, light);
}

[ion-fixed] {
    width: 100%;
}
