html(lang='en', dir='ltr')
head
	meta(charset='UTF-8')
	title Destroyers Tracking
	meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
	meta(name='format-detection', content='telephone=no')
	meta(name='msapplication-tap-highlight', content='no')
	link(rel='icon', type='image/x-icon', href='assets/icon/favicon.ico')
	link(rel='manifest', href='manifest.json')
	meta(name='theme-color', content='#3949AB')

	link(href='build/main.css', rel='stylesheet')
body
	ion-app

	script(src="cordova.js")
	script(src="build/vendor.js")
	script(src='build/polyfills.js')
	script(src='build/main.js')
