ion-content(padding)
	ion-list(padding)
		h1(text-center) Lo sentimos, no hay agente disponible

		p(text-center, padding-top) Por favor vuelva a intentar en un momento

		.center(padding-top)
			button.shadow.animated.pulse(ion-button, color="wolf", (click)="comeBack()") OK
